body {
    background: url("");
    font-family:'Roboto', sans-serif;
}

#brand {
    font-size: 1.75rem;
    font-family: 'Staatliches', cursive;
}

.nav-link {
    font-size: 1.25rem;
}

.content {
    justify-content: space-between;
    max-height: 89vh;
    overflow: auto;
    padding-top: 2.5vh;
}

.card {
    margin-bottom: 2.5vh;
}

.page-footer {
    background-color: #181818;
    color: white;
}

.card-title {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-img {
    width: 30vw;
}
